body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Overpass Mono', monospace;
  font-size: 1rem;
  line-height: 1.5;
  color: #fff;
}

.container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.bg-aqua {
  background: rgba(0, 255, 255, 0.8);
}

.overlay {
  transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  /* translating/moving the element on Y axis, 
  100% of its height upwards, hence the negative -100% */
  transform: translateY(-100%);
}

.highlight {
  padding-bottom: 0.25em;
  /* Prevent the text from wrapping */
  white-space: nowrap;
}

/* Pseudo-element must be a child of the element to which it is being applied - highlight
: before will inseert highlights immediately before the content of every div element
surrounded by the Highlight component which has a class of highlight=the below styling
*/
 .highlight:before {
  /* Pseudo elements need content */
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50%;
  width: 100%;
  z-index: 1;
}

.highlight-pink:before {
  background-color: #ff00e6;
}

.highlight-blue:before {
  background-color: #0525ff;
}

.highlight-aqua:before {
  height: 14px;
  background-image: url('../images/zigzag.svg');
  /* The background image is repeated only horizontally */
  background-repeat: repeat-x;
  /* Sets the initial vertical position, it's bottom, not top/center */
  background-position-y: bottom;
}

.highlight-yellow:before {
  height: 10px;
  background-image: url('../images/wave.svg');
  background-repeat: repeat-x;
  background-position-y: bottom;
}

@media (min-width: 480px) {
  .m-auto-ns {
    margin: auto;
  }
}

@media (max-width: 480px) {
  .logo {
    max-width: 120px;
  }
}
